/*animaciones*/
#field {
  height: 200px;
  border-bottom: 3px black groove;
  position: relative;
}
#train {
  position: absolute;
  cursor: pointer;
}

#cuadrado1{
  background: #000;
  width: 200px;
  height: 200px;

}
